.mat-dialog {
  width: 100%;

  mat-list {
    width: 100%;

    mat-list-item {
      margin: 2% 0;

      span {
        width: 38%;
      }

      .dialog-data {
        float: right;
        clear: both;
        width: 72%;
        color: red;
      }
    }
  }
}

button {
  background-color: gray;
  color: #ffffff;
}
