<mat-toolbar color="primary">
  <button mat-button class="header-title">Bulletin Board</button>
  <button mat-button class="header-btn" routerLink="/user-list">
    User
  </button>
  <button mat-button class="header-btn" routerLink="/post-list">
    Post
  </button>
  <span class="spacer"></span>
  <button mat-button class="header-btn" [routerLink]="['/user-create']">
    Create User
  </button>
  <button mat-button class="header-btn">
    Admin
  </button>
  <button mat-icon-button class="header-btn" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item routerLink="/login">Logout</button>
  </mat-menu>
</mat-toolbar>
