<div class="login-container">
  <h3>Profile</h3>

  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile>
      <div *ngIf="profileImage">
        <img
          [src]="profileImage"
          (load)="handleImageLoad()"
          class="profileimg"
        /></div
    ></mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <div matLine>
            <label>Name</label>
            <p>{{ name }}</p>
          </div>
          <div matLine>
            <label>Phone</label>
            <p>{{ phone }}</p>
          </div>
          <div matLine>
            <label>Email</label>
            <p>{{ email }}</p>
          </div>
          <div matLine>
            <label>Type</label>
            <p>{{ type }}</p>
          </div>
          <div matLine>
            <label>DOB</label>
            <p>{{ dob }}</p>
          </div>
          <div matLine>
            <label>Address</label>
            <p>{{ address }}</p>
          </div>
          <div matLine>
            <label>
              <button
                type="button"
                color="primary"
                mat-raised-button
                (click)="editProfile()"
              >
                Edit Profile
              </button>
            </label>
            <p style="float: right"></p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
