
mat-card-content, mat-card-title, mat-card-actions,h3 {
  text-align: center;
}
mat-card-content{
  background-color: red;
}
.login-container {
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto;
  padding: 0px 0px 0px 0px;
  border:1px solid red;
  height: 500px;

  h3 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px 10px 30px;
    margin-bottom: 0;
    text-align: left;
  }

  .profileinput {
    display: inline-block;

  }
  .profileimg {
    object-fit: cover;
    display: inline-block;
    margin-bottom: 120px;
    margin-left: 24.5%;
    height: 80%;
    width: 50%;
  }
  .profileerror{
    margin-left: 25.5%;
    font-size: 10px;
  }
  mat-form-field {
      width: 60%;
      display: inline-block;
    }
    label {
      width: 22%;
      text-align: right;
      margin-right: 20px;
      display: inline-block;
    }
    mat-card-actions{
      text-align: center;
    }
    .err-msg {
      display: block;
      color: red;
    }
    .mat-card {
      margin-bottom:80px;
    }
}
// mat-grid-tile {
//   background: lightblue;
// }
mat-list{
  width: 90%;
    padding: 50px 0px;
}
.mat-line{
  // height: 20px;
    margin:5px 0px !important;
}
label,p{
  float:left;
}
label{
  text-align: left !important;
}
p{
  padding-left: 50px;
}