<div class="login-container">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Edit Profile</mat-card-title>
    <form [formGroup]="profileEditForm" autocomplete="off" novalidate (ngSubmit)="updateProfile()"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <label>Name</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" [(ngModel)]="name">
          <mat-error *ngIf="myForm['name'].hasError('required')">Name can't be blank.</mat-error>
        </mat-form-field>

        <label>E-Mail Address</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="email" [(ngModel)]="email">
          <mat-error *ngIf="myForm['email'].hasError('required')">Email can't be blank.</mat-error>
          <mat-error *ngIf="myForm['email'].hasError('pattern')">Email format is invalid.</mat-error>
        </mat-form-field>

        <label>Type</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="type" [(ngModel)]="type">
            <mat-option *ngFor="let selectOption of typeOption" [value]="selectOption.enum">
              {{selectOption.enum}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm['type'].hasError('required')">Type can't be blank.</mat-error>
        </mat-form-field>

        <label>Phone</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="phone" [(ngModel)]="phone">
        </mat-form-field>

        <label>Date of birth</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="dob" [formControl]="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <label>Date of birth</label>
        <mat-form-field appearance="outline">
          <input (dateInput)="OnDateChange($event.value)" matInput [matDatepicker]="picker" [max]="today"
            placeholder="Choose Date" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <label>Address</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="address" [(ngModel)]="address">
          <mat-error *ngIf="myForm['address'].hasError('required')">Address can't be blank.</mat-error>
        </mat-form-field>

        <label>Old Profile</label>
        <!-- <img src="../../../../../backend/apiuploads/profileImage" alt=""> -->
        <div *ngIf="profileImage">
          <img [src]="profileImage" (load)="handleImageLoad()" class="profileimg">
        </div>
        <br>
        <label>New Profile</label>
        <div *ngIf="confirmView==false" class="profileinput">
          <input type="file" (change)="imageUpload($event)" formControlName="profile" accept="image/*"
            maxFileSize=2000000>
        </div>
        <div>
          <mat-error *ngIf="myForm['profile'].hasError('required')" class="profileerror">Profile can't be blank.
          </mat-error>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="profileEditForm.invalid">{{confirmView === true ?
          'Confirm' : 'Edit'}}</button>
        <button type="button" mat-raised-button (click)="onClear()">{{confirmView === true ? 'Cancel' :
          'Clear'}}</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
