.error-alert{
  background-color: #f8d7da;
  padding: 20px 0px 20px 30px;
  margin-bottom: 0 !important;
}
.container {
  text-align: center;
  margin-top: 50px !important;
  padding: 40px 50px 50px 50px;
  width: 30%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.42);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.42);
  -moz-box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.42);

  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .upload-input {
    display: flex;
    justify-content: center;
    padding: 20px 0px 40px 60px;

    input {
      display: block;
    }
  }

  .upload-post-btn {
    display: flex;
    justify-content: center;

    .upload {
      margin-right: 10px;
    }

    .clear-btn {
      margin-left: 10px;
    }
  }
}
