<div class="alert-success" *ngIf="message">{{ message }}</div>
<div class="user-table">
  <div class="user-search-btn-container">
    <form #csvForm="ngForm" class="user-list-search-form" (ngSubmit)="searchUser()">
      <label class="search-form-label">Name:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput type="text" [(ngModel)]="username" name="username">
      </mat-form-field>

      <label class="search-form-label">Email:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput type="email" [(ngModel)]="email" name="email">
      </mat-form-field>

      <label class="search-form-label">From:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput [matDatepicker]="picker1" [(ngModel)]="fromDate" name="fromDate" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <label class="search-form-label">To:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="toDate" name="toDate" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <div class="login-btn">
        <button type="submit" mat-raised-button color="primary">
          Search
        </button>
      </div>
    </form>
  </div>

  <app-lists [sub]="dataSubject"></app-lists>

  <mat-paginator #paginator [pageSizeOptions]="pageOptions" showFirstLastButtons
  [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
  </mat-paginator>
</div>
