<div class="alert-success" *ngIf="message">{{ message }}</div>
<div class="user-table">
  <div class="user-search-btn-container">
    <form #csvForm="ngForm" class="user-list-search-form" (ngSubmit)="searchUser()">
      <label class="search-form-label">Name:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput type="text" [(ngModel)]="username" name="username">
      </mat-form-field>

      <label class="search-form-label">Email:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput type="email" [(ngModel)]="email" name="email">
      </mat-form-field>

      <label class="search-form-label">From:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput [matDatepicker]="picker" [(ngModel)]="fromDate" name="fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <label class="search-form-label">To:</label>
      <mat-form-field appearance="outline" class="search-form-field">
        <input matInput [matDatepicker]="picker" [(ngModel)]="toDate" name="toDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="login-btn">
        <button type="submit" mat-raised-button color="primary">
          Search
        </button>
      </div>
    </form>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">No</th>
      <td mat-cell *matCellDef="let element;let i=index;">{{i +1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Name</th>
      <td mat-cell *matCellDef="let element">
        <a class="username" (click)="userDetail(element)">
          {{element.name}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="created_user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Created User</th>
      <td mat-cell *matCellDef="let element">{{element.created_user }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Phone</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}
      </td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Dob</th>
      <td mat-cell *matCellDef="let element">{{element.dob}}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Created Date</th>
      <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Updated Date</th>
      <td mat-cell *matCellDef="let element">{{element.updated_at}}</td>
    </ng-container>


    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Operation</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary">
          Edit
        </button>
        <button mat-raised-button (click)="deleteUser()"  class="delete-btn">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnToDisplay;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="pageSizes" pageSize=2 showFirstLastButtons [length]="totalSize"
    [pageIndex]="currentPage" (page)="handlePage($event)">
  </mat-paginator>
</div>
