.login-container {
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  margin: 30px auto;
  padding: 0px 0px 20px 0px;
  border: 1px solid #3f51b5;

  h2 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px 10px 30px;
    margin-bottom: 0;
  }

  .alert-login {
    background-color: #f8d7da;
    padding: 20px 0px 20px 30px;
    margin-bottom: 20px;
  }

  .login-form {
    margin-top: 50px;

    mat-form-field {
      width: 60%;
      display: inline-block;
    }
    label {
      width: 22%;
      text-align: right;
      margin-right: 20px;
      display: inline-block;
    }

    .checkforget {
      width: 100%;
      margin: 0px 0px 0px 220px;
    }

    .remember {
      width: 20%;
      display: inline-block;
    }

    .forgetpw {
      width: 40%;
      display: inline-block;
      cursor: pointer;
      text-align: right;
      color: #3f51b5;
    }

    .register {
      margin-left: 220px;
      width: 100%;
      color: #3f51b5;
      cursor: pointer;
      display: block;
    }

    mat-icon {
      height: 19px;
      transform: rotateY(180deg);
    }

    .login-btn {
      margin: 10px 145px 10px 220px;
      display: block;

      button {
        width: 100%;
      }
    }
  }
}
