mat-form-field {
  width: 400px;
}

mat-card-title {
  text-align: center;
}

.forget-password-update-container {
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  margin: 30px auto;
  padding: 0px 0px 20px 0px;

  mat-form-field {
    width: 60%;
    display: inline-block;
  }

  label {
    width: 22%;
    text-align: right;
    margin-right: 20px;
    display: inline-block;
  }

  mat-card-actions {
    text-align: center;
  }
}