<div class="forget-password-update-container">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Reset Password</mat-card-title>
    <div class="error-alert" *ngIf="errorMsg">{{errorMsg}}</div>
    <form [formGroup]="forgetPasswordUpdateForm" autocomplete="off" novalidate (ngSubmit)="resetPassword()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <label>Password:</label>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" id="password" name="password">
          <mat-error *ngIf="hasError('password', 'required')">Title can't be blank.</mat-error>
        </mat-form-field>
        <label>Password Confirmation:</label>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword">
          <mat-error *ngIf="hasError('confirmPassword', 'required')">Password Confirmation can't be blank.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="forgetPasswordUpdateForm.invalid">Update Password</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>