mat-form-field{
  width: 400px;
}
mat-card-title{
  text-align: center;
}
.login-container {
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  margin: 30px auto;
  border: 1px solid #3f51b5;

  h2 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px 10px 30px;
    margin-bottom: 0;
  }

  mat-form-field {
      width: 60%;
      display: inline-block;
    }
    label {
      width: 22%;
      text-align: right;
      margin-right: 20px;
      display: inline-block;
    }
    mat-card-actions{
      text-align: center;
    }
}
