<div class="login-container">
  <h2>Forgot password?</h2>
  <div class="error-alert" *ngIf="emailErr">{{emailErr}}</div>
  <mat-card fxFlex="500px" fxFlex.xs="100%">

    <form [formGroup]="forgetPwForm" autocomplete="off" novalidate (ngSubmit)="forgetPW()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>
        <label>Email</label>
        <mat-form-field appearance="outline">
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="forgetForm['email'].hasError('required')">Email can't be blank.</mat-error>
          <mat-error *ngIf="forgetForm['email'].hasError('pattern')">Email Format is invalid.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!forgetPwForm.valid">Reset Password</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
