<div class="alert-success" *ngIf="message">{{ message }}</div>
<div class="user-table">
  <div class="add-user-btn-container">
    <mat-label class="search-form-label">Keyword:</mat-label>
    <mat-form-field appearance="outline" class="search-input">
      <input type="text" matInput [(ngModel)]="keyword" name="username" #input>
    </mat-form-field>

    <button mat-raised-button color="primary" class="user-btn" (click)="searchUser()">Search</button>
    <button mat-raised-button color="primary" class="user-btn" [routerLink]="['/post-create']">Create</button>
    <button mat-raised-button color="primary" class="user-btn" (click)="uploadPost()">Upload</button>
    <button mat-raised-button color="primary" class="download-user-btn"
    (click)="exporter.exportTable('csv',{fileName:'post-data',sheet: 'post_list', columnWidths: [20, 20, 20, 20, 20]});">Download</button>
  </div>

  <app-lists [dataSource]="dataSource" mat-table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[4]"></app-lists>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
