<div class="password-container">
  <h2>Change Password</h2>
  <mat-card fxFlex="500px" fxFlex.xs="100%">

    <form [formGroup]="passwordForm" novalidate (ngSubmit)="onSubmit(passwordForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <!-- <mat-form-field appearance="outline"> -->
        <div class="pwInputField">
          <label>Current Password</label>
          <input matInput type="password" formControlName="oldPassword">
          <!-- <mat-error *ngIf="myError('oldPassword', 'required')">Current Password is required</mat-error>
          <span class="currentPw" *ngIf="!myError('oldPassword', 'required') && errorConfirm">{{errorConfirm}}</span> -->
          <div *ngIf="!myForm['oldPassword'].valid && myForm['oldPassword']?.touched || submitted">
            <mat-error *ngIf="myForm['oldPassword'].hasError('required')">Current Password is required</mat-error>
            <span class="currentPw"
              *ngIf="!myForm['oldPassword'].hasError('required') && errorConfirm">{{errorConfirm}}</span>
          </div>
        </div>
        <!-- </mat-form-field> -->

        <!-- <mat-form-field appearance="outline"> -->
        <div class="pwInputField">
          <label>New Password</label>
          <input matInput type="password" formControlName="newPassword">
          <!-- <mat-error *ngIf="myError('newPassword', 'required')">New Password can't be blank.</mat-error> -->
          <div *ngIf="!myForm['newPassword'].valid && myForm['newPassword']?.touched || submitted">
            <mat-error *ngIf="myForm['newPassword'].hasError('required')">New Password can't be blank.</mat-error>
          </div>
        </div>
        <!-- </mat-form-field> -->

        <!-- <mat-form-field appearance="outline"> -->
        <div class="pwInputField">
          <label>New Confirm Password</label>
          <input matInput type="password" formControlName="confirmPassword" (input)="changePasswordText()">
          <!-- <mat-error *ngIf="myError('confirmPassword', 'required')">New confirm password can't be blank.</mat-error>
          <mat-error *ngIf="myError('confirmPassword', 'misMatch')">New password and New confirm password confirmation
            is not match.</mat-error> -->
          <div *ngIf="!myForm['confirmPassword'].valid && myForm['confirmPassword']?.touched || submitted">
            <mat-error *ngIf="myForm['confirmPassword'].hasError('required')">New confirm password can't be blank.
            </mat-error>
            <mat-error *ngIf="myForm['confirmPassword'].hasError('misMatch')">New password and New confirm password
              confirmation
              is not match.</mat-error>
          </div>
        </div>
        <!-- </mat-form-field> -->

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="passwordForm.invalid">Update Password</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
