/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.delete-btn {
  margin-left: 5px !important;
  background-color: #f60000;
  color: #fff;
}

.alert-success {
  background-color: #cce5ff;
  padding: 20px 0px 20px 30px;
  margin-bottom: 20px;
}