/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.delete-btn {
  margin-left: 5px !important;
  background-color: #f60000;
  color: #fff;
}

.mat-header-cell {
  background: #3f51b5;
  color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.mat-cell,
.mat-footer-cell {
  color: #000;
  border-bottom: 1px solid #ccc;
}

.error-alert {
  background-color: #f8d7da;
  padding: 20px 0px 20px 30px;
  margin-bottom: 20px;
}

.search-form-label {
  padding: 8px 10px;
}